<div class="medals">
	<div class="country">
		<div class="country_name" id="country_name"></div>
	</div>
	<div class="medal">
		<div class="img"><img src="assets/dist/img/medal_gold.png"></div>
		<div class="number" id="medal_gold"></div>
	</div>
	<div class="medal">
		<div class="img"><img src="assets/dist/img/medal_silver.png"></div>
		<div class="number" id="medal_silver"></div>
	</div>
	<div class="medal">
		<div class="img"><img src="assets/dist/img/medal_bronze.png"></div>
		<div class="number" id="medal_bronze"></div>
	</div>
</div>

<div class="link_collection">
	<div class="link" id="link_leaderboard">
		<img class="link_icon" src="assets/dist/img/leaderboard.png" alt="Leaderboard"/>
		Leaderboard
	</div>
	<div class="link" id="link_bets">
		<img class="link_icon" src="assets/dist/img/bets.png" alt="Bets"/>
		Bets
	</div>
	<div class="link" id="link_vouchers">
		<img class="link_icon" src="assets/dist/img/voucher.png" alt="Vouchers"/>
		Vouchers
	</div>
	<div class="link" id="link_manual">
		<img class="link_icon" src="assets/dist/img/manual.png" alt="manual"/>
		Manual
	</div>
</div>

