<div class="medals">
	<div class="medal">
		<div class="img"><img src="assets/dist/img/medal_gold.png"> </div>
		<div class="number">20</div>
	</div>
	<div class="medal">
		<div class="img"><img src="assets/dist/img/medal_silver.png"> </div>
		<div class="number">20</div>
	</div>
	<div class="medal">
		<div class="img"><img src="assets/dist/img/medal_bronze.png"> </div>
		<div class="number">20</div>
	</div>
</div>

<div class="tokens">
	<div class="number">500</div>
	<div class="name">tokens</div>
</div>

