<h1>Manual</h1>
<p>Welcome to our app for the YOG 2016 in Lillehammer.</p>
<p>The main objective for you is to earn tokens to get discounts on certain products.</p>
<p>You have three possible ways to earn tokens:</p>
<h2>1. Frequency Bonus</h2>
<p>By using the app you can earn up to 3Tokens per day. It´s as easy as that: Turn on the app and get a reward.</p>
<h2>2. Country Bonus</h2>
<p>When your team wins a certain competition you get tokens added to your account.</p>
<h2>3. Bets</h2>
<p>There are a lot of events in the YOG. And you have the possibility to bet on who is winning.</p>
<p>You can bet a certain amount of tokens.</p>
<p>If your selected team reaches one of the first places your tokens get multiplied by:</p>
<p>2x for a gold medal</p>
<p>1.5x for a gold medal</p>
<p>1.2x for a gold medal</p>
<h2>Vouchers</h2>
<p>To trade your tokens into vouchers, simply go to vouchers where you find all vouchers and prices.</p>
<h2>Have fun playing =)</h2>
