<div class="voucher">
	<div class="wrapper">
		<div class="discount"><p>10%</p>

			<p>Discount</p></div>
		<div class="price"><p>Price</p>

			<p>40 Tokens</p></div>
	</div>
</div>
<div class="voucher">
	<div class="wrapper">
		<div class="discount">
			<p>20%</p>

			<p>Discount</p>
		</div>
		<div class="price">
			<p>Price</p>

			<p>80 Tokens</p>
		</div>
	</div>
</div>
<div class="voucher">
	<div class="wrapper">
		<div class="discount">
				<p>30%</p>

				<p>Discount</p>
		</div>
		<div class="price">
			<p>Price</p>

			<p>120Tokens</p>
		</div>
	</div>
</div>
<div class="voucher">
	<div class="wrapper">
		<div class="discount">
			<p>40%</p>

			<p>Discount</p>
		</div>
		<div class="price">
			<p>Price</p>

			<p>160Tokens</p>
		</div>
	</div>
</div>
<div class="voucher">
	<div class="wrapper">
		<div class="discount">
			<p>50%</p>

			<p>Discount</p>
		</div>
		<div class="price">
			<p>Price</p>

			<p>200Tokens</p>
		</div>
	</div>
</div>